@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./prism.css";

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  // Apply fonts to headers and paragraphs
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-cormorant-garamond);
  }

  p,
  span,
  div,
  li,
  a,
  button,
  input,
  textarea,
  select {
    font-family: var(--font-libre-franklin), sans-serif;
  }

  :root {
    --background: 45 29% 97%; // #FAF9F6
    --foreground: 0 0% 11%; // #1C1C1C

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 125 36% 58%; // #6DBA74
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 122 44% 74%; // #9ED9A0
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 45 30% 85%; /* Light elegant sand-ish gold */
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 45 29% 97%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 125 36% 58%; // #6DBA74
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 122 44% 74%; // #9ED9A0
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 45 25% 60%; /* Elegant sand gold for dark mode */
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  .text-field {
    @apply relative p-3 py-2 rounded-xl outline-none w-full text-gray-700 placeholder-gray-400;

    &.outlined {
      @apply border border-gray-400 hover:border-primary text-gray-700;
    }

    &.contained {
      @extend .text-field;
      @apply bg-gray-100 hover:bg-primary/10 focus-within:bg-white border-2 hover:border-primary focus-within:border-primary border-transparent ring-0;
    }

    &__error {
      @apply bg-red-100 border border-red-500 text-red-500;
    }

    &:disabled {
      @apply bg-gray-100 border-gray-100 text-gray-400 cursor-not-allowed;
    }
  }

  caption {
    @apply flex flex-1 text-gray-400 text-sm;
  }
}
